//
//  Config.xcconfig
//  blaze-sample-ios-v2
//
//  Created by Max Lukashevich on 23/06/2025.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BLAZE_API_KEY = 3206ee14d2ca43fc8fdb97b68354de73
BLAZE_STORIES_ROW_LABEL = stories-main
BLAZE_STORIES_GRID_LABEL = stories-main
BLAZE_MOMENTS_ROW_LABEL = moments-main
BLAZE_MOMENTS_GRID_LABEL = moments-main
BLAZE_VIDEOS_ROW_LABEL = video-long-form
BLAZE_VIDEOS_GRID_LABEL = video-long-form
BLAZE_MOMENTS_CONTAINER_TAB_LABEL = moments-main
BLAZE_AD_UNIT = /4654/undefined/wsc
BLAZE_TEMPLATE_ID = 12382808
BLAZE_CACHE_SIZE = 500
BLAZE_MOMENTS_CONTAINER_LABEL_1 = moments-main
BLAZE_MOMENTS_CONTAINER_LABEL_2 = moments-main-2


BLAZE_STORIES_ADS_CUSTOM_NATIVE_LABEL = stories-ads-custom-native
BLAZE_STORIES_ADS_BANNER_LABEL = stories-ads-banner
